@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  height: auto !important;
}
.container {
  margin: 20px !important;
}
.center {
  text-align: center !important;
}
.action-container {
  margin-top: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.task{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 18px;
   font-weight: bold;
}
h1{
  margin: 0px !important;
  padding: 5px!important;
}
.svg-icon{
  width: 40px;
  height: 40px;
}