@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.container {
  margin: 20px !important;
}
.center {
  text-align: center !important;
}
.action-container {
  margin-top: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.task {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 18px;
  font-weight: bold;
}
h1 {
  margin: 0px !important;
  padding: 5px !important;
}
.card {
  background: #fff;
  border-radius: 10px !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
  /* margin-top: 10% !important; */
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.logo {
  text-align: center;
}

.am-list-body::after,.am-list-body::before{
  border-top: none !important;
  border-bottom: none !important;
  background-color: none !important;
}
.am-swipe,.am-list-body{background: #fff;
  border: none !important;
  border-radius: 10px !important;
  margin-bottom: 10px !important;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

}